#user-sign-in {
    position: absolute;
    right: 0;
   margin-right: 1.75em;
}

.jumbotron {
    background-image: url("../images/pizza.png");
    background-position: center-top;
    background-repeat: no-repeat;
}

.display-container {
    background-color: white;
    opacity: 0.6;
}

.display-4 {
    text-align: center;
}

span.badge.badge-light {
    margin-right: 10px;

}

.nav-tabs .btn {
    font-size: .8em;
}



