/*body {*/
    /*background-color: rgb(51, 58, 65);*/
/*}*/

#user-sign-in {
    position: absolute;
    right: 0;
   margin-right: 1.75em;
}

.jumbotron {
    background-image: url("../images/pizza.png");
    background-position: center-top;
    background-repeat: no-repeat;
    /* background-size: cover; this will take as much space
    as it can to show it in the best resolution!*/
}

.display-container {
    background-color: white;
    opacity: 0.6;
}

.display-4 {
    text-align: center;
}

span.badge.badge-light {
    margin-right: 10px;

}

.card-header {
    background-color: rgb(0, 108, 255);
    color: white;
    font-size: .8em;
}



