#container {
    background-color: black;
    overflow: hidden;
    height: 50px;
}

#container img {
    float: left;
    height: 100%;
}

#container a {
    color: lightgrey;
    padding: 10px
}

section img {
    float: left;
}

ul {
    list-style-type: none;
}

#sub-header li {
    display: block;
    float: left;
    padding: 10px;
}

h3 {
    position: relative;
}

section {
    border: 1px solid black;
    background-color: lightgray;
}

main {
    border: 1px solid black;
}

table {
    border: 1px solid red;
    width: 100%;
}

#user1 {
    border: 1px solid black;
}

footer {
    border: 1px solid red;
    background-color: lightgray;
}

footer p {
    float: left;
    font-size: 15px;
    padding: 5px;
}

#bottom-left li {
    float: left;
    padding: 5px;
    font-size: 15px;
}

#bottom-right li {
    float: right;
    padding: 5px;
    font-size: 15px;
}
/* Make sure to re-visit this */





