/* need to clarify the border-box */

/** {*/
    /*box-sizing: border-box;*/
/*}*/

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.column {
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

.row {
    width: 100%;
}

/* CLEARFIX, more modern approach to fix?? read up omn it W3 schools

.row:after {
content: */


/* THe Box class was applied to each class. this is where he applied borders and background color instead of writing it out
for each section */
.box {

}

.one-half {
    /* # of pixels was determined from padding of 10 from two sides,
    plus 2px for the border */
    width: calc(50% - 22px);
    border: 1px solid black;
    background-color: lightgray;
}

.one-third {
    width: calc(33.33% - 22px);
    background-color: lightgray;
    border: 1px solid black;
}

.one-fourth {
    width: calc(25% - 22px);
    background-color: lightgray;
    border: 1px solid black;
}

.one-eighth {
    width: calc(12.5% - 22px);
    background-color: lightgray;
    border: 1px solid black;
}
