body {
    font-family: 'Raleway';
    color: white;
    background-image: url("../images/forest.jpg");
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-color: red;
    /*background-attachment: fixed;*/
}

h1, p {
    text-align: center;
}

p {
    font-size: 15px;
}

hr {
    width: 25%;
}

.logo-text {
    float: left;
    margin-left: 10px;
}

/* Forced the element to center based on its top padding, but need to find better solution.
This method could have unwanted effects, plus it's fixed/responsive if you re-size the page. */

.headline-coming-soon {
    padding-top: 300px;
}

/* played around with adding more layers, but wasn't able to get effect I wanted. left the below for reference */

/*.container {*/
    /*width: 100%;*/
/*}*/

/*.vertical-align {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*!*transform: translate();*!*/
/*}*/


.footer-text {
    font-size: 12px;
    float: left;
    padding-top: 50px;
    margin-left: 10px;
}