body {
    background-color: rgb(241, 241, 241);
    font-family: "Raleway", sans-serif;
}

article p {
    font-size: 12px;
}

/*article h3 h4 p {*/
    /*margin: 10px;*/
/*}*/

section p {
    font-size: 12px;
}


.container{
    display: grid;
    grid-template-areas:
    'header header header'
    'main main right'
    'footer footer footer';
}

/* NEED to find a way to move welcome text closer to "My Blog" heading... */

.header-wrap {
    grid-area: header;
}
.header-intro-container {
    text-align: center;
    padding-top: 20px;
}

/* the RED border below is ONLY to help visualize the container for information under the main "My Blog" element. */

/*.welcome-intro-container {*/
    /*border: 1px solid red;*/
/*}*/

.welcome-intro-container>p {
    text-align: center;
}

.special-text {
    background-color: black;
    color: white;
    font-weight: bold
}

/* START of the TWO articles styling  */
/* - - It might be worth adding ANOTHER container that covers ALL articles so that I can space correctly - - */

.main-content-container {
    grid-area: main;
    float: left;
    /*border: 1px solid green;*/
    /*width: 50%;*/
}

.woods-article {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    /*background-image: url("../images/woods.jpg");*/
    background-repeat: no-repeat;
}

.woods-article-date, .bridge-article-date {
    color: rgb(112, 112, 112);
}

.bridge {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    background-image: url("../images/bridge.jpg");
    background-repeat: no-repeat;
}

/* trying to move title, title description & p elements to match the button's margin */

/*.woods, .bridge h3 h4 p {*/
    /*margin-left: 10px;*/
/*}*/

.read-more-btn {
    border: 1px solid rgb(112, 112, 112);
    float: left;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}

.read-more-btn a {
    cursor: pointer;
}

.read-more-btn:hover {
    color: white;
    background-color: red;
}

.read-more-btn a:active {
    top: 2px;
}

.comments {
    float: right;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
}

/* REMINDER: need to update comment count highlight for bridge article to CIRCLE */

.comment-count-highlight {
    background-color: black;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

/* START side content container styling */


.side-content-container {
    border: 1px solid blue;
    /*width: 50%;*/
    /*background-color: blue;*/
    grid-area: right;
}

.bio-container {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.popular-posts {
    border: 1px solid black;
}

/* - - - I'm going to need to move this container somehow to fit flush against the top. As of this current version on 6/4/18,
 it's NOT the way I need it to be displayed.- - - */

.popular-posts-title {
    border: 1px solid black;
    background-color: red;
}

