/* CSS Bonus Project 2-Moderate-Blog */

/** {*/
    /*border: 1px solid black;*/
/*}*/

body {
    background-color: rgb(241, 241, 241);
    font-family: "Raleway", sans-serif;
    /* added min-height to give me room to scroll up/down on page */
    min-height: 1000px;
}

article p {
    font-size: 12px;
}

/*article h3 h4 p {*/
    /*margin: 10px;*/
/*}*/

section p {
    font-size: 12px;
}

/* there might be another way to build this without using a table. Take a look at the GitHub exercise to
see how that was done. This is similar to that, just on a smaller scale. (6/4/18) */


/* took the width off from the table 6/5/18 while working at home*/
/*table {*/
    /*width: 100%;*/
/*}*/

.container{
    display: grid;
    grid-template-areas:
    'header header header'
    'main main right'
    'footer footer footer';
}

/* NEED to find a way to move welcome text closer to "My Blog" heading... */

.header-wrap {
    grid-area: header;
}
.header-intro-container {
    text-align: center;
    padding-top: 20px;
}

/* the RED border below is ONLY to help visualize the container for information under the main "My Blog" element. */

/*.welcome-intro-container {*/
    /*border: 1px solid red;*/
/*}*/

.welcome-intro-container>p {
    text-align: center;
}

.special-text {
    background-color: black;
    color: white;
    font-weight: bold
}

/* START of the TWO articles styling  */
/* - - It might be worth adding ANOTHER container that covers ALL articles so that I can space correctly - - */

.main-content-container {
    grid-area: main;
    float: left;
    /*border: 1px solid green;*/
    /*width: 50%;*/
}

.woods-article {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    /*background-image: url("../images/woods.jpg");*/
    background-repeat: no-repeat;
}

.woods-article-date, .bridge-article-date {
    color: rgb(112, 112, 112);
}

.bridge-article {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    background-image: url("../images/bridge.jpg");
    background-repeat: no-repeat;
}

/* trying to move title, title description & p elements to match the button's margin */

/*.woods, .bridge h3 h4 p {*/
    /*margin-left: 10px;*/
/*}*/

.read-more-btn {
    border: 1px solid rgb(112, 112, 112);
    float: left;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}

.read-more-btn a {
    cursor: pointer;
}

.read-more-btn:hover {
    color: white;
    background-color: red;
}

.read-more-btn a:active {
    top: 2px;
}

.comments {
    float: right;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
}

/* REMINDER: need to update comment count highlight for bridge article to CIRCLE */

.comment-count-highlight {
    background-color: black;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

/* START side content container styling */

/* adjust the margin of this gave me desired effect for bio & popular
post containers giving space between other content */

.side-content-container {
    /*border: 1px solid blue;*/
    /*width: 50%;*/
    /*background-color: blue;*/
    grid-area: right;
    margin-left: 20px;
}

.bio-container {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}


/* would it make sense to name this something else? 6/5/18

 I also have to find a better way to line up the side of this container
  without messing others up */

.popular-posts-container {
    background-color: white;
    /* this broke up the popular posts & profile containers away from the left 6/5/18 */
    /*margin : 20px;*/
}

.popular-posts-main-title {
    border: 1px solid lightgray;
    background-color: rgb(241, 241, 241);
    margin-top: 0;
    padding: 10px;
}

.post-avatar img {
    height: 40px;
    width: 40px;
    float: left;
}

.post-avatar img, td {
    padding-left: 10px;
    margin-bottom: 10px;
    float: left;
}

.post-title {
    font-size: 12px;
}

