body {
    box-sizing: border-box;
}

.space_div {
    border: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton';
}
p{
    font-family: 'Abel';
}

.card_props {
    height: 75px;
    width: 75px;
}

.my_col {
    border: 2px dotted black;
    height: 250px;
}

.my_row {
    border: 1px solid blue;
}

.aside_props {
    height: 75px;
    width: 75px;
}

.col {
    height: fit-content;
}

.twitter_logo {
    height: 50px;
    width: 50px;
}