body{
    --orange: #e6563b;
    --yellow: rgb(241,158,0);
    --green: #7cb06c;
    --blue: #00aba9;
    --gray:#e6e6e6;
    --silver: #f0f0f0;
    box-sizing: border-box;
    background: var(--silver);

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton';
}

p{
    font-family: 'Abel';
}

.space_div{
    border: 1px solid red;
}

.logo_box{
    /*border: 1px solid green;*/
}

.logo_box img{
    width:105px;
    height:105px;
    margin:0;
}

.nav_top{
    max-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav_spacer{
    height: 10em;
}

.bottom_spacer {
    height: 5em;
}

.circle_div{
    width: 105px;
    height: 105px;
    border: 5px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mini_circle_div{
    width: 25px;
    height: 25px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
}

.mini_circle_div h6{
    line-height: 25px;
}

.circle_div h5{
    line-height: 100px;
}

.orange_div{
    background: var(--orange);
}

.yellow_div{
    background: var(--yellow);
}

.green_div{
    background: var(--green);
}

.blue_div{
    background: var(--blue);
}

.card_props{
}

.card_props img{
    width: 100%;
    max-height: 245px;
}

.aside_props {
    height: 75px;
    width: 75px;
}